.places__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: repeat(auto-fit, 361px);
    justify-content: center;
    grid-gap: 20px 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
